VECTARA_API_KEY=your-vectara-api-key
VECTARA_BASE_URL=https://api.vectara.io/v2
VECTARA_CORPUS_KEY=zameen-karachi-properties
PORT=8787
VECTARA_PIPELINE_KEY=zameen_karachi_daily
VECTARA_INGEST_AGENT_KEY=zameen_ingest_agent
# Cron is UTC. 0 3 * * * = 08:00 Pakistan time.
VECTARA_PIPELINE_CRON=0 3 * * *
VECTARA_PIPELINE_MAX_PAGES=400
